<!DOCTYPE html>
<html lang="en-US" class="no-js scheme_default">
<head>
	<title>My &#8211; Wine Home</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel='stylesheet' id='woocommerce-layout-css' href="{{ url_for('static', filename='js/vendor/plugins/woocommerce/assets/css/woocommerce-layout.css') }}" type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href="{{ url_for('static', filename='js/vendor/plugins/woocommerce/assets/css/woocommerce-smallscreen.css') }}" type='text/css' media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' id='woocommerce-general-css' href="{{ url_for('static', filename='js/vendor/plugins/woocommerce/assets/css/woocommerce.css') }}" type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-icons-css' href="{{ url_for('static', filename='js/vendor/plugins/trx_addons/css/font-icons/css/trx_addons_icons-embedded.css') }}" type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-css' href="{{ url_for('static', filename='js/vendor/plugins/trx_addons/css/trx_addons.css') }}" type='text/css' media='all' />
	<link rel='stylesheet' id='laon_wine_house-font-google_fonts-css' href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic%7CLato:400,700&amp;subset=latin,latin-ext' type='text/css' media='all' />
	<link rel='stylesheet' id='laon_wine_house-fontello-css' href="{{ url_for('static', filename='css/fontello/css/fontello-embedded.css') }}" type='text/css' media='all' />
	<link rel='stylesheet' id='laon_wine_house-main-css' href="{{ url_for('static', filename='css/style.min.css') }}" type='text/css' media='all' />
	<link rel='stylesheet' id='laon_wine_house-animation-css' href="{{ url_for('static', filename='css/animation.css') }}" type='text/css' media='all' />
	<link rel='stylesheet' id='laon_wine_house-colors-css' href="{{ url_for('static', filename='css/__colors.css') }}" type='text/css' media='all' />
	<link rel='stylesheet' id='laon_wine_house-styles-css' href="{{ url_for('static', filename='css/__styles.css') }}" type='text/css' media='all' />
	<link rel='stylesheet' id='laon_wine_house-custom-css' href="{{ url_for('static', filename='css/custom.css') }}" type='text/css' media='all' />
	<link rel='stylesheet' id='laon_wine_house-responsive-css' href="{{ url_for('static', filename='css/responsive.min.css') }}" type='text/css' media='all' />
</head>
<body class="page page-id-574 page-template-default woocommerce-account woocommerce-page body_tag body_style_wide scheme_default blog_mode_shop  is_stream blog_style_excerpt sidebar_hide expand_content header_style_header-1 header_position_default header_title_on menu_style_top no_layout vc_responsive">
	<div class="body_wrap">
		<div class="page_wrap">
			<header class="top_panel top_panel_style_1 without_bg_image scheme_default">
				<a class="menu_mobile_button"></a>
				<div class="top_panel_fixed_wrap"></div>
				<div class="top_panel_navi						scheme_default">
					<div class="menu_main_wrap clearfix">
						<div class="wrap">
							<a class="logo" href="/"><img src="{{url_for('static', filename='images/logo.png')}}" class="logo_main" alt="" /></a>
							<nav class="menu_main_nav_area menu_hover_fade">
								<ul id="menu_main" class="menu_main_nav">
									<li class="menu-item"><a href="/"><span>Home</span></a></li>
									<li class="menu-item menu-item-has-children"><a href="blog-archive.html"><span>Article</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="post-formats.html"><span>category</span></a></li>
											<li class="menu-item"><a href="post-formats.html"><span>features</span></a></li>
											<li class="menu-item"><a href="post-formats.html"><span>trivia</span></a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children"><a href="#"><span>Features</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="typography.html"><span>Typography</span></a></li>
											<li class="menu-item"><a href="shortcodes.html"><span>Shortcodes</span></a></li>
											<li class="menu-item"><a href="events.html"><span>Events</span></a></li>
											<li class="menu-item"><a href="non-existing-page.html"><span>Page 404</span></a></li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children"><a href="contacts.html"><span>Contacts</span></a>
										<ul class="sub-menu">
											<li class="menu-item"><a href="contacts.html"><span>Contact Us</span></a></li>
											<li class="menu-item"><a href="about-us.html"><span>About Us</span></a></li>
										</ul>
									</li>
								</ul>
								<div class="search_wrap search_style_fullscreen">
									<div class="search_form_wrap">
										<form role="search" method="get" class="search_form" action="#">
											<input type="text" class="search_field" placeholder="Search" value="" name="s">
											<button type="submit" class="search_submit icon-search"></button>
											<a class="search_close icon-cancel"></a>
										</form>
									</div>
									<div class="search_results widget_area">
										<a href="#" class="search_results_close icon-cancel"></a>
										<div class="search_results_content"></div>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
				<div class="top_panel_title_wrap">
					<div class="content_wrap">
						<div class="top_panel_title">
							<div class="page_title">
								<h1 class="page_caption">My - {{ user.username }} </h1>
							</div>
						</div>
					</div>
				</div>
			</header>
			<footer class="site_footer_wrap scheme_dark">
				<div class="logo_footer_wrap scheme_dark">
					<div class="logo_footer_wrap_inner">
						<a href="/"><img src="{{url_for('static', filename='images/logo-footer.png')}}" class="logo_footer_image" alt="" /></a>
					</div>
				</div>
				<div class="socials_footer_wrap socials_wrap scheme_dark">
					<div class="socials_footer_wrap_inner">
						<span class="social_item"><a href="#" target="_blank" class="social_icons social_twitter"><span class="trx_addons_icon-twitter"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_facebook"><span class="trx_addons_icon-facebook"></span></a>
						</span><span class="social_item"><a href="#" target="_blank" class="social_icons social_gplus"><span class="trx_addons_icon-gplus"></span></a>
						</span>
					</div>
				</div>
				<div class="menu_footer_wrap scheme_dark">
					<div class="menu_footer_wrap_inner">
						<nav class="menu_footer_nav_area">
							<ul id="menu_footer" class="menu_footer_nav">
								<li class="menu-item menu-item-143"><a href="home3.html"><span>Home</span></a></li>
								<li class="menu-item menu-item-675"><a href="about-us.html"><span>Our philosophy</span></a></li>
								<li class="menu-item menu-item-677"><a href="wine-list.html"><span>What we craft</span></a></li>
								<li class="menu-item menu-item-147"><a href="shop.html"><span>Shop</span></a></li>
								<li class="menu-item menu-item-676"><a href="contacts.html"><span>Privacy policy</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="copyright_wrap scheme_dark">
					<div class="copyright_wrap_inner">
						<div class="content_wrap">
							<div class="copyright_text">Stone © 2023. All rights Reserved.</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

    <script type='text/javascript' src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='js/vendor/jquery-migrate.min.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='js/vendor/plugins/trx_addons/js/trx_addons.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='js/__scripts.js') }}"></script>
	<script type='text/javascript' src="{{ url_for('static', filename='js/custom/custom.js') }}"></script>
	<a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a>
</body>
</html>
