<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/score-judge" method="get">
    <label for="factor1">factor1：</label>
                <input type="text" name="factor1" id="factor1" style="width: 400px"/>
                <br>
                <label for="factor2">factor2：</label>
                <input type="text" name="factor2" id="factor2" style="width: 400px"/>
                <br>
                <label for="factor3">factor3：</label>
                <input type="text" name="factor3" id="factor3" style="width: 400px"/>
                <br>
                <label for="factor4">factor4：</label>
                <input type="text" name="factor4" id="factor4" style="width: 400px"/>
                <br>
                <input type="submit" value="提交" style="background-color: red"/>
</form>
</body>
</html>